.tabs
{
    width:60%;
    justify-content: center;
    display:flex;
    margin-left: 20%;
    margin-right: 20%;
}
.tabs>p
{
    margin:10px;
}
.caption
{
    text-align: center;
}
.caption>h1
{
    justify-content: center;
    color:#B38A4C;
    padding:30px;
    font-size: 70px;
}
.slider
{
  text-align: center;
  padding-top: 30px;
}
